<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Heroes</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/vendor/ratchet/dist/touch-icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/vendor/ratchet/dist/touch-icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/vendor/ratchet/dist/touch-icons/apple-touch-icon-57x57.png">

  <link rel="stylesheet" href="/vendor/ratchet/dist/ratchet.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  </head>
  <body class="<%= typeof klass !== 'undefined' ? klass : '' %>">
    <% if (typeof title !== 'undefined') { %>
    <header class="bar-title">
      <h1 class="title"><%= title %></h1>
      <% if (typeof previous !== 'undefined') { %>
        <a class="button-next" onclick="javascript:history.back(1)">
          Back
        </a>
      <% } %>
    </header>
    <% } %>