<form action="/task/add" method="post">
  <p>
    <label>Name</label>
    <input type="text" name="name" />
  </p>
  <p>
    <label>Background</label>
    <textarea name="background"></textarea>
  </p>
  <p>
    <label>Description</label>
    <textarea name="description"></textarea>
  </p>
  <p>
    <label>Points (default 4)</label>
    <input type="text" name="points" />
  </p>
  <p>
    <label>Bouns points (default 0)</label>
    <input type="text" name="bonuspoints" />
  </p>
  <p>
    <label>Type (default 0)</label>
    <input type="text" name="type" />
  </p>
  <p>
    <input type="submit" value="Add" />
  </p>
</form>