.content {
  padding: 20px;
}
.content .text {
  margin-bottom: 20px;
}
.content .text h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.content .text h2:first-child {
  margin-top: 0;
}
.content .text p {
  margin-bottom: 5px;
}

.green {
  background: #34BA15;
}

.red {
  background: #E71E1E;
}

body a {
  color: white;
}
body a:hover {
  text-decoration: underline;
}
body.login-view {
  background: #e52421 url(../img/start_screen.png) no-repeat;
  background-size: 100%;
  width: 100%;
}
body.standard-view {
  background: #e52421 url(../img/page_logo.png) no-repeat;
  background-size: 50%;
}
body.standard-view > header {
  background: transparent;
  border: 0;
}
body.standard-view > header .title {
  display: none;
}
body.standard-view > .content {
  margin-top: 50px;
  background: transparent;
}
body.standard-view > .content.bg {
  margin-top: 10px;
  background: transparent url(../img/tasks/17.png) no-repeat;
  background-size: 80%;
}
body.standard-view > .content .text {
  margin-top: 140px;
}
body .bar-title .button-next {
  background: white;
  border: none;
  border-radius: 5px;
  text-shadow: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
body .bar-title .button-next:before, body .bar-title .button-next:after {
  background: none;
  border: none;
  box-shadow: none;
}
