<%
  var title = '[[Team name]]';
  if (typeof missionCompletedWaiting !== 'undefined') {
    title = 'Mission A';
  }
%>

<%- include ../partials/header.html %>
<div class="content">
  <% if (typeof missionCompletedWaiting !== 'undefined') { %>
    <ul class="list">
      <li>Player1 <span class="count green">Yes!</span></li>
      <li>Player2 <span class="count green">Yes!</span></li>
      <li>Player3 <span class="count red">No!</span></li>
      <li>Player4 <span class="count">Waiting...</span></li>
    </ul>
    <div class="text">
      <h2>Blubb</h2>
      <p>Sed viverra himenaeos pretium. Veniam culpa condimentum ea. Exercitation amet dictum.</p>
      <p>Class parturient himenaeos. Et integer porta rutrum in torquent. Eleifend leo elementum ligula varius mauris.</p>
    </div>
    <a class="button-positive button-block" href="<%= nextMissionUrl %>">Next mission</a>
  <% } else { %>
    <ul class="list">
      <li>Player1</li>
      <li>Player2</li>
      <li>Player3</li>
      <li><i>Wating...</i></li>
    </ul>
  <% } %>
</div>
<%- include ../partials/footer.html %>