<%
  var title = teamName;
  if (typeof missionCompletedWaiting !== 'undefined') {
    title = 'Mission A';
    var klass = 'standard-view team-waiting-b';
  } else {
    var klass = 'standard-view team-waiting-a';
    var previous = true;
  }
%>

<%- include ../partials/header.html %>
<div class="content">
  <% if (typeof missionCompletedWaiting !== 'undefined') { %>
    <ul class="list">
      <% for (var i = 0, l = numberofMembers; i < l; i++) { %>
        <% if (typeof players[i] !== 'undefined') { %>
          <li><%= players[i].displayName %><span class="count <%= completed[players[i]._id] ? 'green' : 'red' %>"><%= completed[players[i]._id] ? "Yes!" : "No!" %></span></li>
        <% } else { %>
          <li>Waiting on player <%= i + 1 %><span class="count">Waiting...</span></li>
        <% } %>
      <% } %>
    </ul>
    <!--<div class="text">
      <h2>Blubb</h2>
      <p>Sed viverra himenaeos pretium. Veniam culpa condimentum ea. Exercitation amet dictum.</p>
      <p>Class parturient himenaeos. Et integer porta rutrum in torquent. Eleifend leo elementum ligula varius mauris.</p>
    </div>-->
  <% } else { %>
    <ul class="list">
      <% for (var i = 0, l = numberofMembers; i < l; i++) { %>
        <% if (typeof players[i] !== 'undefined') { %>
          <li><%= players[i].displayName %></li>
        <% } else { %>
          <li>Waiting on player <%= i + 1 %></li>
        <% } %>
      <% } %>
    </ul>
  <% } %>
</div>
<%- include ../partials/footer.html %>