<%
  var title = 'Mission ' + taskType
    , shake = true
    , klass = 'shake standard-view';
%>

<%- include ../../partials/header.html %>
<div class="content">
  <div class="text">
    <h2><%= task.description %></h1>
    <form method="post" id="form" action="/team/<%= id %>/mission/0/play/<%= task._id %>">
      <input type="hidden" id="mission_type" name="misson_type" value="2" />
      <input type="hidden" id="mission_key" name="mission_key" value="shake" />
      <input type="submit" value="shake" />
    </form>
  </div>
</div>
<%- include ../../partials/footer.html %>