<%
  var title = 'Mission A';
%>

<%- include ../../partials/header.html %>
<div class="content">
  <div class="text">
    <h2>Mission completed!</h1>
    <p>Convallis ligula tristique erat. Aenean lobortis a. Ullamcorper dui himenaeos nulla suspendisse.</p>
    <p>Convallis ligula tristique erat. Aenean lobortis a. Ullamcorper dui himenaeos nulla suspendisse.</p>
  </div>
  <a class="button-positive button-block" href="<%= waitingUrl %>">Scoreboard</a>
</div>
<%- include ../../partials/footer.html %>