<%
  var title = 'Mission A';
%>

<%- include ../../partials/header.html %>
<div class="content">
  <div class="text">
    <h2>Mission Failed!</h1>
    <p>Convallis ligula tristique erat. Aenean lobortis a. Ullamcorper dui himenaeos nulla suspendisse.</p>
    <p>Convallis ligula tristique erat. Aenean lobortis a. Ullamcorper dui himenaeos nulla suspendisse.</p>
  </div>
  <a class="button-negative button-block" href="<%= nextMissionUrl %>">Try again?</a>
</div>
<%- include ../../partials/footer.html %>